#### Cjneilson's Hosting ####

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey "none"

## Server Info ##
sv_hostname "Server hosted by Cjneilson's hosting"
sets sv_projectName "My fivem Server"
sets sv_projectDesc "hosting.cjneilson.co.uk"
sets locale "root-AQ" # For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets tags "fivem, rp, hosting"
set mysql_connection_string "mysql://[username]:[password]@panel.cjneilson.co.uk/[databasename]?charset=utf8mb4"
sets banner_detail serverbanner
sv_maxclients 48
load_server_icon Logo.png

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

## Fivem resource 
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog


sv_licenseKey license key
