#### Cjneilson's Hosting ####

## Endpoints ##
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey "none"

## Server Info ##
sv_hostname "Server hosted by Cjneilson's hosting"
sets sv_projectName "My fivem Server"
sets sv_projectDesc "cjneilson.co.uk"
sets locale "root-AQ" # For example "en-GB", "fr-CA", "nl-NL", "de-DE", "en-US", "pt-BR"
sets tags "fivem, cjneilson, server"
set mysql_connection_string "mysql://[username]:[password]@game.cjneilson.co.uk/[databasename]?charset=utf8mb4"
sets banner_detail serverbanner
onesync legacy
sv_maxclients 48
load_server_icon logo.png

## Add system admins ##
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:1 group.admin # add the admin to the group

## Fivem resources ##
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog


sv_licenseKey license key
